header {
  background: #12123e;
  padding: 20px 0;
  margin-bottom: 40px;
}

header a {
  margin-right: 20px;
}

.dropdown-trigger .emoji {
  font-size: inherit;
  margin: 0;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

a.home {
  display: none;
}

nav .last-name,
nav .first-name {
  display: none;
}

nav .left a:last-child {
  margin-right: 0;
}

.face-container {
  width: 50px;
  display: inline-block;
  position: relative;
}

.face {
  position: absolute;
  display: inline-block;
  width: 50px;
  border: none;
  left: -70px;
  top: -47px;
  transition: transform 0.4s;
  animation: spin 2s infinite;
}

.right {
  display: flex;
  gap: 20px;
}

@media (min-width: 400px) { 
  nav {
    justify-content: space-between;
  }

  a.home {
    display: inline-block;
  }
  nav .first-name {
    display: inline;
  }
}

@media (min-width: 500px) { 
    nav .last-name {
        display: inline;
    }
}


@media (min-width: 750px) {
  .face-container {
    position: relative;
    display: block;
  }

  .face {
    position: absolute;
    left: -70px;
    top: -25px;
  }
}

@keyframes spin {
  50% {
    transform: rotate(-10deg);
  }
}

@media (max-width: 350px) { 
  /* nav {
    flex-direction: column;
  }

  header a {
    margin-right: 0;
  }
  
  header a:not(.face-container), .dropdown-trigger {
    display: block;
    border: 1px solid red;
    margin-left: 20px;
  } */
}
