<header>
  <div class="container">
    <nav>
      <div class="left">
        <a href="/" class="face-container">
          <img src="/img/berend-zonder-stroke.png" class="face" alt="">
        </a>
        <a class="logo" href="/">Berend Swennenhuis</a>
        <a class="logo" href="/projects">Projects</a>
      </div>
      <div class="right">
        <a
          class="logo"
          target="_blank"
          href="https://github.com/berenddeperend/"
          >Github</a
        >
      </div>
    </nav>
  </div>
</header>
