<html>
  <head>
    <title>Berend Swennenhuis - {{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>{{title}}</h1>

    <p class="post-metadata">Posted on {{posted}}</p>

    {{ content | safe}}  
  </body>
</html> 