<html>
  <head>
    <title>Berend Swennenhuis - {{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- {% include 'header.html' %} -->



    <div class="container">


      <div class="post-header">
        
        
        <a href="/projects" class="no-underline">
          <span class="emoji">
            👈
          </span>  
          
          <span class="underline">Back to overview</span></a>


        <h1 class="post-title">{{ title }}</h1>
        <p class="post-metadata">Posted on {{ posted }}</p>
      </div>

      {{ content | safe }}
    </div>
  </body>
</html>
