<html>
  <head>
    <title>Berend Swennenhuis - {{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    {% include 'header.html' %}

    <div class="post-header">
      <h1 class="post-title">{{title}}</h1>
      <p class="post-metadata">Posted on {{posted}}</p>
    </div>

    {{ content | safe}}  
  </body>
</html> 