<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Berend Swennenhuis - {{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="left">
            <a href="/" class="face-container"
              >
              <img src="/public/berend.png" class="face berend" alt=""/>
              <img src="/public/pip.png" class="face pip" alt=""/>
            </a>
            <a class="home" href="/"><span class="first-name">Berend</span><span class="last-name"> Swennenhuis</span></a>
            <a class="projects" href="/projects">Projects</a>
          </div>
          <div class="right">
            <div class="dropdown" data-dropdown="stronk">
              <button class="dropdown-trigger">
                <span class="emoji">💪</span>
                <span class="emoji">📊</span>
              </button>
              <div class="dropdown-content" style='opacity: 0;'>
                <div class="lift-title"><strong>Bench</strong> 115/114</div>
                <div class="loading-bar" data-target="115">
                  <div class="loading-bar-inner" data-pr="115"></div>
                </div>

                  <div class="lift-title"><strong>Squat</strong> 132.5/140</div>
                  <div class="loading-bar" data-target="140">
                    <div class="loading-bar-inner" data-pr="132.5"></div>
                  </div>
                  
                  
                  <div class="lift-title"><strong>Deadlift</strong> 185/200</div>
                  <div class="loading-bar" data-target="200">
                    <div class="loading-bar-inner" data-pr="185"></div>
                  </div>
                  <p class="days-since-pr today hibbem">Last PR: <strong>today! <span style="font-size: 18px; margin-left:5px;">🎉</span></strong></p>
                  <p class="days-since-pr past">
                    last PR: <strong data-last-pr-date="2023-04-24"></strong> day<span class="last-pr-days-plural">s</span> ago
                  </p>
                 <div class="que">
                   <a href="/powerlifting">
                   What's this?
                   </a>
                 </div>
              </div>
            </div>


            <!-- <div class="dropdown" data-dropdown="links">
              <button class="dropdown-trigger">
                <span class="underline-on-hover">Links</span>
                <span class="emoji">🔽</span>
              </button>
              <div class="dropdown-content">
                <a href="/tetris" target="_blank">Tetris</a>
                <a href="https://github.com/berenddeperend/" target="_blank">Github</a>
              </div>
            </div> -->
          </div>
        </nav>
      </div>
    </header>
    
    <div class="container">
      {{ content | safe }}
    </div>
    </div>

    <script src="/js/app.js?v=1"></script>
    <script src="/js/1kclub.js?v=2"></script>
    <script src="/js/dropdown.js?v=1"></script>
  </body>
</html>
