.dropdown {
    position: relative;
}

.dropdown-content {
    display: flex;
    position: absolute;
    background: #e8e6e3;
    padding: 15px 20px;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    flex-direction: column;
    right: 0;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.2s, transform 0.2s;
    pointer-events: none;
    z-index: 2;
    color: #12123d;
    width: 180px;   
    text-transform: uppercase;
    font-size: 0.7em;
}

.dropdown-content strong {
    color: inherit;
}

.dropdown-content.open {
    opacity: 1 !important;
    pointer-events: all;
    transform: translateY(10px);
}

.dropdown-content a {
    color: #12123d;
    display: inline-block;
    margin: 2px 0;

    white-space: nowrap;
}

.loading-bar {
    height: 10px;
    width: 100%;
    background: #b3b3de;
    margin-bottom: 5px;
}

.loading-bar:last-child {
    margin: 0;
}

.loading-bar-inner {
    background: #12123d;
    height: 100%;
    width: 0;
    transition: width 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.days-since-pr {
    margin: 10px 0 0 0;
}

.lift-title  {
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.que {
    position: absolute;
    height: 25px;
    padding: 0 15px;
    bottom: -25px;
    background: #e8e6e3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    right: 0;
}

.que a {
    text-transform: none;
    text-decoration: underline;
}
