* {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  border-color: #736b5e;
  color: #b3b3de;
  background: #222250;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

body {
  margin-bottom: 40px;
}

code {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #12123e;
  padding: 0 3px;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e8e6e3;
}

img {
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

a {
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(226, 188, 78, 0.5);
  transition: text-decoration-color 0.2s;
}
a:hover,
a:active,
a:focus {
  text-decoration-color: #e2bc4e;
}

a.active {
  text-decoration-thickness: 4px;
  text-decoration-color: rgba(226, 188, 78, 1);
}

a,
strong {
  color: #e2bc4e;
}
