* {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  border-color: #736b5e;
  color: #b3b3de;
  /* background: #242440; */
  background: #222250;
  font-size: 17px;
  /* font-family: avenir, sans-serif; */
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: monospace, sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e8e6e3;
}

img {
  max-width: 100%;
  /* border: 10px solid #3f3f5f; */
  /* border: 10px solid #505086; */
  /* border: 1px solid #505086; */
  /* border-radius: 4px; */

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

a {
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(226, 188, 78, 0.5);
  transition: text-decoration-color 0.2s;
}
a:hover,
a:active,
a:focus {
  text-decoration-color: #e2bc4e;
}

a,
strong {
  color: #e2bc4e;
}
