@import "normalize.css";
@import "global.css";

header {
  /* background: #19192f; */
  background: #191940;
  padding: 20px 0;
  margin-bottom: 40px;
}

header a {
  margin-right: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.emoji {
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
}

.container {
  max-width: 590px;
  margin: 0 auto;
  padding: 0 10px;
}

.overview-intro {
  margin-bottom: 40px;
}

.post-overview-item {
  display: flex;
  margin-bottom: 40px;
}

.post-overview-item-content {
  display: flex;
  flex-direction: column;
}

.post-overview-item-title {
  margin-top: 0;
  margin-bottom: 0;
}

/* .post-overview-featured-img {
  border-width: 2px;
} */

.post-overview-featured-img-anchor {
  flex: 0 0 200px;
  margin-right: 20px;
}

.post-metadata {
  margin: 0;
  opacity: 0.6;
  font-size: 0.8em;
}

.post-header {
  margin-bottom: 40px;
  margin-top: 20px;
}

.back {
  display: block;
  margin-bottom: 20px;
}

.post-header .post-title {
  margin-bottom: 0;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.face-container {
  position: relative;
  display: block;
}

.face {
  display: inline-block;
  width: 50px;
  border: none;
  position: absolute;
  left: -70px;
  top: -25px;
  transition: transform 0.4s;
  animation: spin 2s infinite;

  filter: drop-shadow(2px 0px 0 white)
          drop-shadow(0px 2px 0 white) 
          drop-shadow(-0px -2px 0 white)
          drop-shadow(-2px -0px 0 white);
}

@keyframes spin { 
  
  50% { transform:rotate(10deg); } 

}
/* 
.face:hover {
  transform: rotate(10deg) scale(1.1);
} */