@import "normalize.css";
@import "global.css";
@import "nav.css";

:root {
  --breakpoint: 400px;
}

header {
  /* background: #19192f; */
  background: #191940;
  padding: 20px 0;
  margin-bottom: 40px;
}

header a {
  margin-right: 20px;
}



.emoji {
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
}

.container {
  max-width: 590px;
  margin: 0 auto;
  padding: 0 30px;
}

.overview-intro {
  margin-bottom: 40px;
}

.post-overview-item {
  display: flex;
  margin-bottom: 40px;
  /* flex-direction: column; */
}


.post-overview-item-content {
  display: flex;
  flex-direction: column;
}

.post-overview-item-title {
  margin-top: 0;
  margin-bottom: 0;
}

/* .post-overview-featured-img {
  border-width: 2px;
} */

.post-overview-featured-img-anchor {
  /* flex: 0 0 200px; */
  flex: 0 0 33%;
  margin-right: 20px;
}


@media (min-width: 500px) {
  .post-overview-item {
    flex-direction: row;
  }

  .post-overview-featured-img-anchor {
    margin-right: 30px;
    flex: 0 0 200px;
  }
}

.post-metadata {
  margin: 0;
  opacity: 0.6;
  font-size: 0.8em;
}

.post-header {
  margin-bottom: 40px;
  margin-top: 20px;
}

.back {
  display: block;
  margin-bottom: 20px;
}

.post-header .post-title {
  margin-bottom: 0;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}