@import "normalize.css";
@import "global.css";



.post-overview-item {
  display: flex;
  margin-bottom: 40px;
}

.post-overview-item-content {
  display: flex;
  flex-direction: column;
}

.post-overview-item-title {
  margin-top: 0;
  margin-bottom: 0;
}

.post-overview-featured-img {
  width: 150px;
  border-width: 4px;
  margin-right: 20px;
}

.post-metadata {
  margin: 0;
  opacity: 0.6;
  font-size: 0.8em;
}

